<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>

</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="d-flex justify-content-center align-items-center" style="height:100px;">
    <h2>Waiting for connection</h2>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height:100px;">
    <div class="spinner-border text-dark" role="status"></div> 
  </div>


  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
  <script>
    var connected = false;

    var socket = io();
    socket.on("connect", () => {
      var targetId = "";

      var query = JSON.parse('<%- JSON.stringify(req.query) %>');
      if(query.name != null) {
        if(localStorage.getItem("device-list") != null){
          const devices = JSON.parse(localStorage.getItem("device-list"));
          let i = 0;
          let found = -1;
          devices.forEach(listing => {
            if (listing.name == query.name) {
              found = i;
            }
            i++;
          });
          if (found > -1){
            targetId = devices[found].id;
            socket.emit("registerListen", targetId);
            console.log("Registered listen");
          } else {
            console.log("Did not find paired device with name: '" + query.name + "'");
          }
        }
      } else {
        console.log("Name not in query.");
      }

      if(targetId != ""){
        socket.on('deviceConnected', function() {console.log("Device connected"); connected = true;});
        socket.on('deviceLost', function() {console.log("Device lost"); connected = false;});

        socket.emit("isDeviceConnected", id, (response) => {
                connected = response;
                console.log("Connected: " + toString(response));
        });
      }
     });
  </script>

</body>
</html>
